p { 
	margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5 {
	font-family: 'Wire One', sans-serif;
}
h1 {
	font-weight:100;
}
h2,h3,h4,h5 {
	font-weight: 700;
}

body {
	margin: 0 auto;
	font-family: 'Rokkitt', serif; 
	font-size: 16px;
}

