<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Andreas Marschke
    </a>
    <div class="navbar-burger burger" data-target="nav-menu-page">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="nav-menu-page" class="navbar-menu has-text-centered">
    <div class="navbar-end">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/about/">About</a>
      <a class="navbar-item" href="/posts/">Blog</a>
      <a class="navbar-item" href="/contact/">Contact</a>
      <a class="navbar-item" href="/impress/">Impress</a>
    </div>
  </div>
</nav>
